.flipCard {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
  position: relative;
}

.flipCard.flipped {
  transition: transform var(--flip-speed, 1s) ease-in-out;
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  inset: 0;

  backface-visibility: hidden;
  border-radius: 22px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  transform: rotateY(180deg);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  backface-visibility: hidden;
}