.scene {
  perspective: 1200px;
}

.floatWrapper {
  animation: float3d 10s ease-in-out infinite;
  transform-style: preserve-3d;
}

.card {
  width: 320px;
  height: 420px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transform-style: preserve-3d;
  will-change: transform;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card.flipped {
  transition: transform 1s ease-in-out;
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  inset: 0;

  backface-visibility: hidden;
  border-radius: 22px;
  overflow: hidden;
}

.back {
  transform: rotateY(180deg);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  backface-visibility: hidden;
}

@keyframes float3d {
  0%   { transform: rotateX(6deg) rotateY(-6deg) translateY(0); }
  25%  { transform: rotateX(-4deg) rotateY(4deg) translateY(-6px); }
  50%  { transform: rotateX(6deg) rotateY(6deg) translateY(0); }
  75%  { transform: rotateX(-4deg) rotateY(-4deg) translateY(-6px); }
  100% { transform: rotateX(6deg) rotateY(-6deg) translateY(0); }
}
