@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 5vh;
  width: min(50rem, 90vw);
  padding: 1rem;
  border-radius: 0 0 50px 50px;

  background: rgba(100, 100, 100, 0.35);
  backdrop-filter: blur(6px);

  opacity: 0.5;
  transition: opacity 0.4s ease;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: space-around; /* evenly space items */
  align-items: center;           /* vertical center */
}

.navbar:hover {
  opacity: 1;
}

@keyframes pulse-bg {
  0%, 100% { background-color: transparent; }
  50% { background-color: rgba(100, 100, 100, 0.2); }
}

.animate-flash-bg {
  animation: pulse-bg 2s infinite ease-in-out;
  background-color: rgba(100,100,100,0.3);
}